/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1919;
    color: #f5f1f1;
}

.container {
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.content img {
    max-width: 75%;
    height: auto;
    border-radius: 15%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

h2 {
    font-size: 2em;
    margin-top: 1px;
}

p {
    font-size: 1.2em;
    margin-left: 15px;
    margin-right: 15px;
}
